.form-control {
    margin: 5px;
    padding: 10px;
}

#login {
    margin-top: 50px;
}

#login p {
    width: 100%;
}

table td {
    margin: 5px;
    padding: 5px;
    background-color: lightgreen;
}